# MPBot by light2k4 (https://discord.gg/YmA88jc7GF)
# Modifiez ici les valeurs des variables d'environnement pour les adapter à votre configuration

TOKEN=put_ur_token_here
DEV_ID=put_ur_dev_id_here
INVITE_URL=put_ur_invite_url_here